@using pous.Models
@model List<Data>
@{
    ViewData["Title"] = "Google Maps Page";
}

<div class="text-center">
    <div>
        <h1>Google Map</h1>
        <a href="https://mapsplatform.google.com/pricing/?authuser=1" target="_blank">Pricing</a>
        <a href="https://console.cloud.google.com/getting-started?authuser=1" target="_blank"> | Learn API</a>
        <br />
        <div id="wrapper">
        <div id="mapBox"></div>
        <div id="marker">
        </div>
    </div>
    <div id="dragStatus"></div>
        <button type="button" class="btn btn-info btn-lg" id = "continue">Continue</button>
    </div>
</div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKvrm4OcpRfkBuvealQ_9oG16xH5uf2fY&callback=initMap"></script>
    <script>
        var x = document.getElementById("map");
        let map, infoWindow;
        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };

                        var map = new google.maps.Map(document.getElementById('mapBox'), {
                            zoom: 18,
                            center: pos
                        });

                        google.maps.event.addListener(map, 'drag', function() {
                          loc(map);
                        });

                        function loc(map) {
                            var x = map.getCenter();
                            document.getElementById('dragStatus').innerHTML = x.lat() + ', ' + x.lng();
                        }

                        $( "#continue" ).click(function() {
                            $.post('/Home/Placeload',  // url
                            { lat: map.getCenter().lat(), lng: map.getCenter().lng() },
                            function(){
                                var urlToRedirect= "@Url.Action("Place","Home")";
                                window.location.href = urlToRedirect;
                            })
                        });
                    },
                    () => {
                    handleLocationError(true, infoWindow, map.getCenter());
                    }
                );
            } else {
            handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
    </script>