@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1>Google Map</h1>
        <a href="https://mapsplatform.google.com/pricing/?authuser=1" target="_blank">Learn About Google Map Cok</a>
        <br />
        <div id ="map"  style="border:black; border-width:1px; border-style:solid;" ></div>
    </div>
</div>
    <script
      src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap&v=weekly"
      defer
    ></script>