@{
    ViewData["Title"] = "panolens Page";
}

<div class="text-center">
    <div>
        <h1>Panolens Demo</h1>
        <br />
         <div class="img-box"></div> 
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r105/three.min.js" integrity="sha512-uWKImujbh9CwNa8Eey5s8vlHDB4o1HhrVszkympkm5ciYTnUEQv3t4QHU02CUqPtdKTg62FsHo12x63q6u0wmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/panolens.min.js"></script>
    <script>
    const panorama = new PANOLENS.ImagePanorama("/images/WhatsApp Image 2022-08-27 at 18.00.43.jpeg");
    const container = document.querySelector(".img-box");
    const viewer = new PANOLENS.Viewer({
        container: container,
            //autoHideInfospot: false
        });
    viewer.add(panorama);

    var infospot = new PANOLENS.Infospot(100, PANOLENS.DataImage.Info, true);
    panorama.addEventListener("click", function (e) {
        if (e.intersects.length > 0) return;
        const a = viewer.raycaster.intersectObject(viewer.panorama, true)[0].point;
        infospot.position.set(-a.x, a.y, a.z);
        panorama.add(infospot);
        //$(".img-box").trigger('click');

        alert("x = " + -a.x + " y = "+a.y + " z = "+a.z);


        //infospot.addHoverElement(document.getElementById('pp'), -20);
    
    });
    </script>