@{
    ViewData["Title"] = "panolens Page";
}

<div class="text-center">
    <div>
        <h1>Panolens Demo</h1>
        <br />
         <div class="img-box"></div> 
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r105/three.min.js" integrity="sha512-uWKImujbh9CwNa8Eey5s8vlHDB4o1HhrVszkympkm5ciYTnUEQv3t4QHU02CUqPtdKTg62FsHo12x63q6u0wmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/panolens.min.js"></script>